body {
    font-family: "Menlo", "Monaco", monospace;
}

.container
{
    width: 600px;
    margin: 2em auto;
    font-size: 11pt;
}

ruby rt
{
    font-size:0.7em;
}

a.target
{
    color: black;
}

p:target
{
    background: #e3e3e3;
}

li
{
    margin-top: 1em;
}