@import 'vars';
@import 'print';

body, div, h1, h2, h3, p, a, ul {
	margin:0;
	padding:0;
}
body {
	// font-family: sans-serif;
}

.wrapper {
	// margin-top:1em;
}
.container {
	width: 960px;
	margin: 0 auto;

	background:white;

	color:$not-black;
	font-size:13pt;
}
 
h2, h3, .red {
	color:$cv-text-red;
}
a {
	color:black;
	text-decoration: underline;
	transition: color 0.2s;
	&:hover {
		color:$cv-text-red;
	}
	&:active {
		color:$cv-text-red-active;
	}
}
.content {
	display:flex;
	flex-direction:column;
	padding:1.5em 3em;
}
.header {
	padding-bottom:0.5em;
	border-bottom:2px solid $cv-text-red;

	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:flex-end;

	.left {
		.title {
			font-family: 'Raleway', sans-serif;
			font-weight:400;
			font-size:36pt;

            .pronouns
            {
                font-family: 'Lato', sans-serif;
                font-weight:400;
                font-size:10pt;
                color:$not-black;
            }
		}
		.subtitle {
			font-family: 'Lato', sans-serif;
			font-weight:400;
			font-size:14pt;
			margin-bottom:5px;
		}
	}
	.right {
		text-align:right;
		display:flex;
		flex-direction:column;
		justify-content:flex-end;
		.bottom-half {
			display: flex;
			flex-direction: row;
			div {
				display: flex;
				flex-direction: column;

				&:first-child {
					margin-right:1em;
				}
			}
		}
		p {
			margin-top:2px;
		}
		a {
			text-decoration: none;
		}
	}

}
.section {
	border-bottom:1px dashed $cv-text-red;
	
	padding:6px 0;
	display:flex;
	flex-direction:column;

	&:last-child { border: none; }

    &.noborder {
		border-bottom: none;
	}

	h2, p {
		margin:2px 0;
	}
	ul {
		margin: 2px 0.5em 2px 1em;
	}
	h2 {
		margin:0;
		font-size:14pt;
		text-transform: uppercase;
	}
	.label {
		display:flex;
		flex-direction:row;
		justify-content:space-between;
		align-items:baseline;
		h3 {
			font-size:12pt;
		}
		p {
			color:$cv-text-red;
		}

		.link {
			font-weight: 400;
			margin-left: 3px;
			& > a {
				color: $cv-text-red;
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
				&:active {
					color: $cv-text-red-active;
				}
			}
		}
	}
	.columns {
		margin:0;
		display:flex;
		flex-direction:row;
		justify-content:space-between;
	}
}

@media print {
	p.pagebreak {
		clear: both;		
		page-break-before: always;
		background: red;
		height: 2.5em;
	}	
}